.wd-breadcrumb-container a{
    color:rgb(167, 21, 35);
    text-decoration: none;
}

.nav-tabs li a{
    color:rgb(167, 21, 35);
}

.wd-image-upload{
    max-width:50%;
    min-height:150px;
    min-width:350px;
}

.wd-image-upload-msg{
    min-width:150px;
    /* max-width:15%; */
}


.wd-upload-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f5f5f5;
    color: black;
    cursor: pointer;
    border: 1px solid #c7cdd1;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .wd-upload-label input {
    display: none;
  }
  
  .wd-upload-wrapper{
    width:100%;
    min-width:350px;
    max-width:400px;
    border:1px solid black;
    height:100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
.wd-page-wrapper{min-width: 800px;}
.wd-input-labels{
    font-weight: bold;
}
  
  
  
  