.wd-main-wrapper{
    display:grid;
    grid-template-columns: 85px 1fr;
    height:100vh;
    gap:10px;
}

.wd-content-wrapper{
    margin-right:20px;
}
.wd-content-wrapper h1 hr{
    border:1px solid #c7cdd1;
}

.wd-courses-grid{
    margin-left:10px;
    margin-right:10px;
}

.wd-published-courses-title hr{
    border:1px solid #c7cdd1;
}

.card{
    width:260px;
}

.wd-course-card > div{
    width:250px;
}