.breadcrumb li a{
    color:#b52828;
    text-decoration: none;
}

.wd-published-message p{
    color:green;
    text-align: center;
}

.wd-published-message p i{
    color:green;
}

.wd-editing-items *{
    margin-bottom: 10px;
}

.wd-input-fields .row *{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.wd-input-fields .row{
    margin-bottom: 10px;
}