body {
  margin:0;
}
  
body * {
  font-family: Arial;
  margin: 0;
}

ul {
  list-style: none;
}

.wd-menu-list .wd-active-item {
  background-color: white;
  width:85px;
}
.wd-menu-list .wd-active-item a {
  color:rgb(167, 21, 35);
}

/* a i or just i*/
.wd-menu-list .wd-active-item a i {
  color:rgb(167, 21, 35);
}

